* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Urbanist';
    src: url(../Font/Urbanist-VariableFont_wght.ttf);
}

body {
    font-family: 'Urbanist', sans-serif;
    background-color: #141414;
    width: 100vw;
}

p {
    font-size: 20px;
    color: #999999;
}

h1 {
    font-size: 65px;
    color: white;
}

h2 {
    font-size: 55px;
    color: white;
}

h3 {
    font-size: 28px;
    color: white;
}

h4 {
    font-size: 20px;
    color: white;
}

h5 {
    font-size: 23px;
    color: white;
    font-weight: 300;
}

h6 {
    font-size: 17px;
    color: white;
    font-weight: 500;
}

span {
    color: white;
}

header {
    width: 100%;
    height: 8vh;
    background-color: #1A1A1A;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button {
        padding: 17px;
        background-color: #1A1A1A;
        border: 1px #1A1A1A solid;
        border-radius: 10px;
    }

    .buttonhed {
        background-color: #141414;
        border: 1px #262626 solid;
    }

    .buthed {
        background-color: #141414;
        border: 1px #262626 solid;
        color: white;
    }

    a {
        text-decoration: none;
        color: white;
    }
}

.section1 {
    width: 100%;
    height: 50vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    align-items: center;
    background: linear-gradient(to left, #141414 70%, #262626 100%);

    h1 {
        margin-bottom: 3vh;
    }
}

.star {
    height: 4.5vh;
    width: 5vw;
    position: relative;
    right: 2vw;
}

.text3 {
    width: 100%;
    height: 14vh;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;

    h1 {
        margin-bottom: 3vh;
    }
}

.section2 {
    width: 100%;
    height: 140vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .search2 {
        width: 100%;
        height: 0vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        bottom: 13vh;

        .se21 {
            width: 80%;
            height: 9vh;
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px 10px 0px 0px;
            border: 1px;
            background-color: #141414;
            -webkit-box-shadow: 0px 0px 0px 10px rgba(38, 38, 38, 1);
            -moz-box-shadow: 0px 0px 0px 10px rgba(38, 38, 38, 1);
            box-shadow: 0px 0px 0px 10px rgba(38, 38, 38, 1);

            button {
                width: 14%;
                padding: 20px;
                border-radius: 10px;
                border: 1px;
                background-color: #703BF7;
                color: white;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .categories2 {
            padding: 10px;
            width: 100%;
            height: 11vh;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            border-radius: 18px;
            border: 1px;
            background-color: #262626;

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                align-items: center;
                padding: 10px;
                width: 19.5%;
                border: #262626 1px solid;
                background-color: #141414;
                border-radius: 15px;

                .line2 {
                    height: 6vh;
                    width: 1px;
                    background-color: #262626;
                    padding: 0px;
                }

                button {
                    width: 2vw;
                    height: 2vw;
                    border-radius: 30px;
                    border: 1px solid #1A1A1A;
                    background-color: #1A1A1A;
                }
            }
        }
    }




    .cards2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .card2 {
            width: 26vw;
            height: 70vh;
            border: 1px solid #262626;
            border-radius: 10px;
            padding: 1.7vw;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;

            .carddiv2 {
                padding: 15px;
                height: 8%;
                width: 100%;
                border: 1px solid #262626;
                border-radius: 30px;
            }

            .but3 {
                width: 100%;
                display: flex;
                justify-content: space-between;

                button {
                    width: 13vw;
                    background-color: #703BF7;
                    border-radius: 10px;
                    border: 1px;

                    a {
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}

.line3 {
    width: 100%;
    height: 1px;
    background-color: #262626;
}

.slider {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: row;
        width: 7vw;
        justify-content: space-between;

        button {
            width: 3vw;
            height: 3vw;
            border: 1px solid #262626;
            background-color: #1A1A1A;
            border-radius: 30px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        button:first-child {
            background-color: #141414;
        }
    }
}

.section3 {
    width: 100%;
    height: 140vh;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    .form3 {
        padding: 60px;
        width: 100%;
        height: 60%;
        border: #262626 1px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        input {
            background-color: #1A1A1A;
            border: #262626 1px solid;
            width: 15vw;
            height: 6vh;
            padding: 20px;
            border-radius: 10px;
        }

        .c31,
        .c32 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .i31 {
                position: absolute;
                right: 72vw;
                top: 270vh;
            }

            .i32 {
                position: absolute;
                right: 52.4vw;
                top: 270vh;
            }

            .i33 {
                position: absolute;
                right: 32.8vw;
                top: 270vh;
            }

            .i34 {
                position: absolute;
                right: 13.2vw;
                top: 270vh;
            }
        }

        .i35 {
            position: absolute;
            right: 52.4vw;
            top: 283.6vh;
        }

        h5 {
            margin-bottom: 1vh;
        }

        .c33 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            input {
                width: 34.6vw;
            }

            .ph3 {
                width: 47%;

                .phone3 {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;

                    div {
                        border: #262626 1px solid;
                        border-radius: 10px;
                        padding: 15px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 44%;
                        height: 6vh;
                        background-color: #1A1A1A;

                        .crug {
                            width: 1vw;
                            padding: 0px;
                            height: 1vw;
                            background-color: #703BF7;
                        }

                        .crug0 {
                            width: 1vw;
                            padding: 0px;
                            height: 1vw;
                            border: #703BF7 1px solid;
                            border-radius: 40px;
                        }
                    }
                }
            }
        }

        .c34 {
            div {
                width: 100%;
                height: 10vh;
                border: #262626 1px solid;
                border-radius: 10px;
                padding: 20px;
                background-color: #1A1A1A;
            }
        }

        .c35 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            div {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                width: 30%;

                input {
                    width: 1.3vw;
                }
            }

            button {
                width: 20%;
                padding: 20px;
                border: #703BF7 1px solid;
                background-color: #703BF7;
                color: white;
                border-radius: 10px;
            }
        }
    }
}

.section6 {
    width: 100%;
    height: 30vh;
    background-image: url(../Assets/CTA.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 10vw;
    padding-right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .div6 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        div {
            width: 80%;

            h2 {
                margin-bottom: 3vh;
            }

            p {
                font-size: 17px;
                line-height: 2.5vh;
                width: 90%;
            }
        }

        button {
            height: 7vh;
            width: 13vw;
            color: white;
            background-color: #703BF7;
            border-radius: 10px;
            border: 1px;
            font-size: 20px;
        }
    }
}

.section7 {
    width: 100%;
    height: 40vh;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;

    .email {
        cursor: pointer;
        margin-top: 2vh;
        width: 15vw;
        height: 5vh;
        background-color: #141414;
        border: 1px solid #262626;
        border-radius: 6px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

        p {
            width: 70%;
        }

        img {
            height: 2vh;
        }
    }

    .list {
        display: flex;
        flex-direction: row;
        width: 60vw;
        justify-content: space-evenly;

        h6 {
            margin-top: 2vh;
        }
    }
}

footer {
    height: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .textf {
        display: flex;
        flex-direction: row;
        width: 30%;
        justify-content: space-between;
    }
}